beautifulsoup4
bs4
certifi
charset-normalizer
feedparser
idna
lxml
numpy
pandas
pyTelegramBotAPI
PyTelegramBotAPI
python-dateutil
pytz
requests
sgmllib3k
six
soupsieve
urllib3
feedparser
Flask
schedule